*{
    color:#ffffff;
}

body {
    background-color:#535353 !important;
    margin: 5em 0 1em;
}

.intro {
    padding: 8px;
    margin-bottom: 10px;
    border-style: double;
    border-color: #e7c44e;
    }

.header{
    background-color: #324480;
    border:3px solid #324480;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.headbutton{
    background: #535353 !important;
    padding: 5px 10px !important
}

button {
    padding: 10px 20px;
    background: #535353;
}

h1 {
    border-left: 6px solid #0099ff;
    border-bottom: 3px solid #0099ff;
    padding-left: 8px;
    display: inline-block;
    }

h2 {
    border-left: 3px solid #cc2b2b;
    border-bottom: 1.5px solid #cc2b2b;
    padding-left: 4px;
}
